In [1]:
# -*- coding: UTF-8 -*-
#导入所需模块
import xlrd
import pandas as pd
from  pandas import DataFrame
from openpyxl import load_workbook

In [2]:
import numpy as np

In [3]:
import csv

In [4]:
excel_name = r'C:\Users\rk\Desktop\GRAS2018 Proceedings论文数\何慧慧.xlsx'  #表格地址+表格名
wb = xlrd.open_workbook(excel_name) #打开文件
sheets = wb.sheet_names()# 获取workbook中所有的表格

In [5]:
allsubject=[]
for i in range(len(sheets)):
    sh = wb.sheet_by_index(i)#获取sheeti的文件句柄
    for rownum in range(sh.nrows):#逐行读取文件
        allsubject.append(sh.row_values(rownum))#保存读取的数据至allsubject

In [6]:
len(allsubject)

919

In [7]:
final=pd.DataFrame(np.array(allsubject))
final

                                                     0
0          [学科代码, 学科名称, 文献类型, 会议名称, 会议简写, 会议论文集链接, 备注]
1    [RS0210, 计算机科学与工程, Conference, Annual Conferen...
2    [RS0210, 计算机科学与工程, Conference, USENIX Symposiu...
3    [RS0210, 计算机科学与工程, Conference, ACM SIGGRAPH, S...
4    [RS0210, 计算机科学与工程, Conference, ACM SIGGRAPH As...
5    [RS0210, 计算机科学与工程, Conference, ACM Symposium o...
6    [RS0210, 计算机科学与工程, Conference, International C...
7    [RS0210, 计算机科学与工程, Conference, ACM Conference ...
8                                       [, , , , , , ]
9    [RS0210, 计算机科学与工程, Conference, International C...
10   [RS0210, 计算机科学与工程, Conference, International C...
11   [RS0210, 计算机科学与工程, Conference, Conference on C...
12   [RS0210, 计算机科学与工程, Conference, IEEE Symposium ...
13   [RS0210, 计算机科学与工程, Conference, Symposium on Pr...
14   [RS0210, 计算机科学与工程, Conference, ACM SIGCOMM Con...
15   [RS0210, 计算机科学与工程, Conference, Theory of Crypt...
16   [NIPS 2017, , , NIPS 2016, , , NIPS 2015, , , ...
17                  [论文题目, 作者机构, , , , , , , , , , , ]
18   [Wider and Deeper, Cheaper and Faster: Tensori...
19   [, National University of Defense Technology, ...
20        [, Sichuan University, , , , , , , , , , , ]
21     [, Alan Turing Institute, , , , , , , , , , , ]
22   [Concentration of Multilinear Functions of the...
23   [Deep Subspace Clustering Networks, University...
24   [, Australian National University, , , , , , ,...
25                      [, EPFL, , , , , , , , , , , ]
26   [Attentional Pooling for Action Recognition, C...
27   [On the Consistency of Quick Shift, Google, , ...
28   [Breaking the Nonsmooth Barrier: A Scalable Pa...
29                      [, CNRS, , , , , , , , , , , ]
..                                                 ...
889             [, ETH Zurich, , , , , , , , , , , , ]
890  [End-to-End Training of Hybrid CNN-CRF Models ...
891  [, AIT Austrian Institute of Technology, , , ,...
892  [Deep Feature Flow for Video Recognition, Univ...
893  [Fully Convolutional Instance-aware Semantic S...
894  [Truncated Max-of-Convex Models, The Alan Turi...
895  [Asymmetric Feature Maps with Application to S...
896  [Instance-Level Salient Object Segmentation, S...
897  [, The University of Hong Kong, , , , , , , , ...
898  [Kernel Square-Loss Exemplar Machines for Imag...
899            [, Technicolor, , , , , , , , , , , , ]
900  [, Ecole Normale Sup ´ erieure/PSL Research Un...
901  [Direct Photometric Alignment by Mesh Deformat...
902  [, University of Electronic Science and Techno...
903  [Semantic Multi-view Stereo: Jointly Estimatin...
904  [, Autonomous Vision Group, MPI for Intelligen...
905             [, ETH Zurich, , , , , , , , , , , , ]
906  [HOPE: Hierarchical Object Prototype Encoding ...
907  [, Beijing Institute of Technology, , , , , , ...
908  [Learning Adaptive Receptive Fields for Deep I...
909  [, Sun Yat-sen University, , , , , , , , , , ,...
910  [, University of Chinese Academy of Sciences, ...
911  [FOCS 2017, , , FOCS 2016, , , FOCS 2015, , , ...
912  [论文题目, 作者机构, , 论文题目, 作者机构, , 论文题目, 作者机构, , 论文题...
913  [POPL 2017, , , POPL 2016, , , POPL 2015, , , ...
914  [论文题目, 作者机构, , 论文题目, 作者机构, , 论文题目, 作者机构, , 论文题...
915  [SIGCOMM 2017, , , SIGCOMM 2016, , , SIGCOMM 2...
916  [论文题目, 作者机构, , 论文题目, 作者机构, , 论文题目, 作者机构, , 论文题...
917  [TCC 2017, , , TCC 2016, , , TCC 2015, , , TCC...
918  [论文题目, 作者机构, , 论文题目, 作者机构, , 论文题目, 作者机构, , 论文题...

[919 rows x 1 columns]

In [52]:
final.to_csv("C:/Users/rk/Desktop/result_final1.csv",index=False,encoding='utf-8')
#utf-8保存的文件中，中文文字是乱码，如果是ANSI格式，但仅能保存第一个sheet,可以将中文换成英文存储

In [3]:
print(sheets)

['数学', '物理学', '化学', '地球科学', '地理学', '生态学', '海洋科学', '大气科学', '机械工程', '电力电子工程', '电子工程', '电力工程', '控制科学与工程', '通信工程', '仪器科学', '生物医学工程', '计算机科学与工程', '土木工程', '化学工程', '材料科学与工程', '纳米科学与技术', '能源科学与工程', '环境科学与工程', '水资源工程', '农业工程', '食品科学与工程', '生物工程', '航空航天工程', '船舶与海洋工程', '交通运输工程', '遥感技术', '地质工程', '矿业工程', '冶金工程', '生物学', '基础医学', '农学', '兽医学', '临床医学', '公共卫生', '口腔医学', '护理学', '医学技术', '药学', '经济学', '统计学', '法学', '政治学', '社会学', '教育学', '新闻传播学', '心理学', '工商管理', '金融学', '管理学', '公共管理', '旅游休闲管理', '农林经济管理', '图书情报']

In [34]:
final.to_excel("C:/Users/rk/Desktop/result_final9.xlsx",index=False,encoding='ANSI')#保存的文件格式是xlsx,但速度较慢

In [ ]:
##############################有价值的资料#####################
首先，打开workbook；    
import xlrd
wb = xlrd.open_workbook('myworkbook.xls')

检查表单名字：    
wb.sheet_names()

得到第一张表单，两种方式：索引和名字    
sh = wb.sheet_by_index(0)
sh = wb.sheet_by_name(u'Sheet1')

递归打印出每行的信息：    
for rownum in range(sh.nrows):
    print sh.row_values(rownum)

如果只想返回第一列数据：
first_column = sh.col_values(0)

通过索引读取数据：    
cell_A1 =  sh.cell(0,0).value
cell_C4 = sh.cell(rowx=3,colx=2).value

注意：这里的索引都是从0开始的。

In [15]:
df = pd.read_excel(excel_name, sheet_name=0, index=False, encoding='utf-8')

In [17]:
df[1:10]

,学科代码,学科名称,Institution,Code,Country,Pub,CNCI,%IC,Top,Award,...,Rank 2018,Rank 2017,Rank ratio,Unnamed: 19,权重,Pub.1,CNCI,IC,Top,Award.1
1,RS0101,数学,University of Lorraine,EU03082,France,606,0.90,59.57,2,0.000,...,125.0,96.0,0.768000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RS0101,数学,University of Nice Sophia Antipolis,EU03021,France,322,1.22,50.00,5,0.000,...,104.0,95.0,0.913462,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RS0101,数学,Universite Paris Sud,EU03002,France,969,1.19,46.96,23,2.000,...,2.0,5.0,2.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RS0101,数学,Stanford University,AM01002,USA,797,1.95,34.63,27,1.000,...,3.0,8.0,2.666667,NaN,NaN,Pub Max,CNCI Max,IC Max,Top Max,Award Max
5,RS0101,数学,University of Oxford,EU01002,England,1015,1.43,52.32,20,1.250,...,4.0,10.0,2.500000,NaN,NaN,2054,3.48,98.23,40,3.625
6,RS0101,数学,New York University,AM01040,USA,667,1.83,44.38,14,2.000,...,5.0,2.0,0.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,RS0101,数学,Massachusetts Institute of Technology (MIT),AM01005,USA,1149,1.68,40.20,29,0.375,...,6.0,4.0,0.666667,NaN,论文数阈值,100,NaN,NaN,NaN,NaN
8,RS0101,数学,University of Cambridge,EU01001,England,804,1.52,53.73,20,1.000,...,7.0,7.0,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,RS0101,数学,University of California Los Angeles,AM01013,USA,737,1.61,42.61,24,0.750,...,8.0,6.0,0.750000,NaN,中国高校,NaN,NaN,NaN,NaN,NaN

In [ ]:
def write_csv():
    path  = "aa.csv"
    with open(path,'a+') as f:
        csv_write = csv.writer(f)
        data_row = ["1","2"]
        csv_write.writerow(data_row)
--------------------- 
作者：lwgkzl 
来源：CSDN 
原文：https://blog.csdn.net/lwgkzl/article/details/82147474 
版权声明：本文为博主原创文章，转载请附上博文链接！

In [ ]:
with open("filename.csv","a+") as csvfile: 
    for line in csvfile:
        writer = csv.writer(line)
        print(line)

In [109]:
import numpy as np

In [146]:
import pandas as pd
# 创建一个输出文件
path= r'C:\Users\rk\Desktop'
root='\\test.xlsx'
writer = pd.ExcelWriter(path+root)

In [149]:
data1=pd.read_excel(path+'\\test\\test2.xlsx',sheet_name=1)

In [150]:
data1

     姓名 性别  年龄
0   王小二  男   5
1   王小二  男   6
2   王小二  男   7
3   王小二  男   8
4   王小二  男   9
5   王小二  男  10
6   王小二  男  11
7   王小二  男  12
8   王小二  男  13
9   王小二  男  14
10  王小二  男  15
11  王小二  男  16
12  王小二  男  17
13  王小二  男  18

In [165]:
alldata = DataFrame()
for i in range(2):
    df = pd.read_excel(path+'\\test\\test2.xlsx', sheet_name=i, index=False, encoding='utf-8')
    #print(df)
    alldata = alldata.append(df)

In [166]:
alldata

     姓名 性别  年龄
0    张鸿  女  31
0   王小二  男   5
1   王小二  男   6
2   王小二  男   7
3   王小二  男   8
4   王小二  男   9
5   王小二  男  10
6   王小二  男  11
7   王小二  男  12
8   王小二  男  13
9   王小二  男  14
10  王小二  男  15
11  王小二  男  16
12  王小二  男  17
13  王小二  男  18

In [ ]:

import xlrd
import pandas as pd
from pandas import DataFrame
 
DATA_DIR = 'E:/' 
excel_name = '%s2017.xls' % DATA_DIR
wb = xlrd.open_workbook(excel_name)
# print(wb)
 
# 获取workbook中所有的表格
sheets = wb.sheet_names()
# print(sheets)
 
# 循环遍历所有sheet
df_28 = DataFrame()
for i in range(len(sheets)):
    # skiprows=2 忽略前两行
    df = pd.read_excel(excel_name, sheet_name=i, skiprows=2, index=False, encoding='utf8')
    df_28 = df_28.append(df)
# 去除缺省值
df_28 = df_28.dropna()
df_28 = df_28.reset_index(drop=True)

In [36]:
import pandas as pd
import os
# 将excel中的sheet名称放入列表
#sheet_names = ["name1","name2","name3","name4", ... ]
# 将excel文件名称放入列表
xlsx_names = [x for x in os.listdir() if x.endswith(".xlsx")]

In [37]:
xlsx_names

[]

In [33]:
excel_name = r'C:\Users\rk\Desktop\GRAS92018.xlsx'  #表格地址+表格名
wb = xlrd.open_workbook(excel_name) #打开文件
sheet_names = wb.sheet_names()# 获取workbook中所有的表格

In [ ]:
writer = pd.ExcelWriter('result.xlsx',engine='openpyxl')

In [ ]:
num = 1
for sheet_name in sheet_names:
    df = None
    for xlsx_name in xlsx_names:
        _df = pd.read_excel(xlsx_name, sheet_name=sheet_name)
        if df is None:
            df = _df
        else:
            df = pd.concat([df, _df], ignore_index=True)
    # 下面的保存文件处填写writer，结果会不断地新增sheet，避免循环时被覆盖
    df.to_excel(excel_writer=writer, sheet_name=sheet_name, encoding="utf-8", index=False)
    print(sheet_name + "  保存成功！共%d个，第%d个。" % (len(sheet_names),num))
    num += 1
writer.save()
writer.close()

In [ ]:
num = 1
for sheet_name in sheet_names:
    df = None
    for xlsx_name in xlsx_names:
        _df = pd.read_excel(xlsx_name, sheet_name=sheet_name)
        if df is None:
            df = _df
        else:
            df = pd.concat([df, _df], ignore_index=True)
    # 下面的保存文件处填写writer，结果会不断地新增sheet，避免循环时被覆盖
    df.to_excel(excel_writer=writer, sheet_name=sheet_name, encoding="utf-8", index=False)
    print(sheet_name + "  保存成功！共%d个，第%d个。" % (len(sheet_names),num))
    num += 1
writer.save()
writer.close()

In [ ]:
Folder_Path =r'C:\Users\rk\Desktop\fore_pub'        #要拼接的文件夹及其完整路径
os.chdir(Folder_Path)#修改当前工作目录
file_list = os.listdir()

In [36]:
import os

In [42]:
xlsx_names = [x for x in os.listdir(r'C:\Users\rk\Desktop\test') if x.endswith(".xlsx")]

In [43]:
xlsx_names

['test1.xlsx', 'test2.xlsx', 'test3.xlsx']