In [1]:
import pandas as pd

In [2]:
alldata=pd.ExcelFile(r"C:\Users\rk\Desktop\【计算表定稿】GRAS8-2020 排名计算表_20200618.xlsx")

In [3]:
sheetnames=alldata.sheet_names

In [4]:
sheetnames[:5]

['1. 各学科参数', '2. AES结果', '3. 各学科第1名高校', '数学', '物理学']

In [5]:
result=alldata.parse('数学')
for item in alldata.sheet_names[4:]:
    sheet2=alldata.parse(item)
    result=pd.concat([result,sheet2],axis=0,join='inner')
    print(item)

物理学
化学
地球科学
地理学
生态学
海洋科学
大气科学
机械工程
电力电子工程
控制科学与工程
通信工程
仪器科学
生物医学工程
计算机科学与工程
土木工程
化学工程
材料科学与工程
纳米科学与技术
能源科学与工程(+热力学)
环境科学与工程
水资源工程
农业工程
食品科学与工程
生物工程
航空航天工程
船舶与海洋工程
交通运输工程
遥感技术
地质工程
矿业工程
冶金工程
生物学
基础医学
农学
兽医学
临床医学
公共卫生
口腔医学
护理学
医学技术
药学
经济学
统计学
法学
政治学
社会学
教育学
新闻传播学
心理学
工商管理
金融学
管理学
公共管理
旅游休闲管理
农林经济管理
图书情报科学
体育学

In [6]:
result.to_excel(r"C:\Users\rk\Desktop\【计算表定稿】GRAS8-2020 排名计算表_20200619.xlsx",index=False)

In [48]:
sheet2=alldata.parse(sheetnames[3])

In [49]:
sheet2.iloc[:,:3]

         标准代码  Old_code         学科名称
0     RI00661      NANA  Mathematics
1     RI02848   AM01006  Mathematics
2     RI00605   EU03098  Mathematics
3     RI02892   AM01002  Mathematics
4     RI02557   EU01001  Mathematics
5     RI02779   AM01005  Mathematics
6     RI02581   EU01002  Mathematics
7     RI02816   AM01040  Mathematics
8     RI02269   EU08001  Mathematics
9     RI00602       NaN  Mathematics
10    RI02965   AM01013  Mathematics
11    RI02962   AM01004  Mathematics
12    RI00740   EU02006  Mathematics
13    RI03074   AM01020  Mathematics
14    RI02933   AM01034  Mathematics
15    RI02896   AM01062  Mathematics
16    RI02597   EU01031  Mathematics
17    RI02973   AM01009  Mathematics
18    RI02727   AM01001  Mathematics
19    RI02487   EU01003  Mathematics
20    RI02677   AM01008  Mathematics
21    RI00657       NaN  Mathematics
22    RI02865   AM01029  Mathematics
23    RI01352   AP01002  Mathematics
24    RI01170   AP05001  Mathematics
25    RI02238   EU07007  Mathematics
26    RI02989   AM01033  Mathematics
27    RI02539   EU01005  Mathematics
28    RI03003   AM01046  Mathematics
29    RI03014   AM01028  Mathematics
...       ...       ...          ...
4307  RI02348  TPTP0364  Mathematics
4308  RI02464  TPTP1086  Mathematics
4309  RI02478  TPTP0833  Mathematics
4310  RI02481  TPTP0400  Mathematics
4311  RI02494  TPTP0666  Mathematics
4312  RI02497   temp017  Mathematics
4313  RI02498   EU01073  Mathematics
4314  RI02527   EU01051  Mathematics
4315  RI02537   EU01058  Mathematics
4316  RI02564  TPTP0625  Mathematics
4317  RI02600   EU01081  Mathematics
4318  RI02678  TPTP0461  Mathematics
4319  RI02689     XXXXX  Mathematics
4320  RI02707     XXXXX  Mathematics
4321  RI02750     XXXXX  Mathematics
4322  RI02754  TPTP0954  Mathematics
4323  RI02755      NANA  Mathematics
4324  RI02785   19TP134  Mathematics
4325  RI02828      NANA  Mathematics
4326  RI02847     XXXXX  Mathematics
4327  RI02894   AM01147  Mathematics
4328  RI02898   AM01288  Mathematics
4329  RI02901   AM01265  Mathematics
4330  RI02938   AM01224  Mathematics
4331  RI02941   AM01101  Mathematics
4332  RI03008   AM01083  Mathematics
4333  RI03023   AM01145  Mathematics
4334  RI03066      NANA  Mathematics
4335  RI03089      NANA  Mathematics
4336  TTTT002       NaN  Mathematics

[4337 rows x 3 columns]

In [57]:
result=alldata.parse('数学').iloc[:5,:3]
for item in alldata.sheet_names[4:]:
    sheet2=alldata.parse(item).iloc[:5,:3]
    result=pd.concat([result,sheet2],axis=0)
    #result=pd.concat([result,sheet2],axis=0,join='inner')
    print(item)

物理学
化学
地球科学
地理学
生态学
海洋科学
大气科学
机械工程
电力电子工程
控制科学与工程
通信工程
仪器科学
生物医学工程
计算机科学与工程
土木工程
化学工程
材料科学与工程
纳米科学与技术
能源科学与工程
环境科学与工程
水资源工程
农业工程
食品科学与工程
生物工程
航空航天工程
船舶与海洋工程
交通运输工程
遥感技术
地质工程
矿业工程
冶金工程
生物学
基础医学
农学
兽医学
临床医学
公共卫生
口腔医学
护理学
医学技术
药学
经济学
统计学
法学
政治学
社会学
教育学
新闻传播学
心理学
工商管理
金融学
管理学
公共管理
旅游休闲管理
农林经济管理
图书情报科学
体育学

In [58]:
result.to_excel(r"C:\Users\rk\Desktop\test4.xlsx",index=False)

In [54]:
result.to_excel?