In [14]:
import re
import numpy as np, pandas as pd
import os
import csv
import time

In [15]:
############首先对Mapp.csv原文件数据去重，删除数据重复的项目######################
lis_a = []#创建空白列表，存储文件内容
csv_reader=csv.reader(open(r'C:\Users\rk\Desktop\GRAS2019 Pub_CNCI_IC.csv'))

In [16]:
for element in csv_reader:
    lis_a.append(element)#逐行读入数据，写入列表

In [17]:
lis_a[0]

['RS0221EU11006']

In [18]:
lis_b=[]
for element in lis_a:
    lis_b.append(element[0])

In [19]:
lis_b[0]

'RS0221EU11006'

In [20]:
lis_b.count('Aerospace EngineeringAGH University of Science & Technology')

0

In [21]:
lis_b.count(lis_b[0])

1

In [22]:
t1=time.time()
list_c=[]
for element in lis_b:
    lis_d=[]
    lis_d.append(element)
    lis_d.append(lis_b.count(element))
    list_c.append(lis_d)
t2=time.time()
print(t1-t2)

-1106.511125087738

In [10]:
list_c[:5]

[['RS0221EU11006', 1],
 ['RS0221EU12004', 1],
 ['RS0221EU11002', 1],
 ['RS0221\\', 288],
 ['RS0221NA', 26]]

In [12]:
d=[]
for ite in list_c:
    if ite[1] != 1:
        d.append(ite)

In [13]:
result=pd.DataFrame(np.array(d))#将pd.DataFrame(np.array(myarray))写入list
result.to_csv("C:/Users/rk/Desktop/"+'0426jk'+".csv",index=False,encoding='ANSI')
result

                 0     1
0          RS0221\   288
1         RS0221NA    26
2         RS0221NA    26
3         RS0221NA    26
4          RS0221\   288
5          RS0221\   288
6          RS0221\   288
7          RS0221\   288
8          RS0221\   288
9          RS0221\   288
10     RS0221XXXXX    10
11         RS0221\   288
12         RS0221\   288
13         RS0221\   288
14         RS0221\   288
15         RS0221\   288
16         RS0221\   288
17         RS0221\   288
18         RS0221\   288
19         RS0221\   288
20         RS0221\   288
21         RS0221\   288
22         RS0221\   288
23         RS0221\   288
24         RS0221\   288
25         RS0221\   288
26         RS0221\   288
27         RS0221\   288
28         RS0221\   288
29         RS0221\   288
...            ...   ...
72336      RS0217\  1352
72337      RS0217\  1352
72338      RS0217\  1352
72339      RS0217\  1352
72340      RS0217\  1352
72341      RS0217\  1352
72342      RS0217\  1352
72343      RS0217\  1352
72344      RS0217\  1352
72345      RS0217\  1352
72346      RS0217\  1352
72347      RS0217\  1352
72348      RS0217\  1352
72349      RS0217\  1352
72350      RS0217\  1352
72351      RS0217\  1352
72352      RS0217\  1352
72353      RS0217\  1352
72354      RS0217\  1352
72355      RS0217\  1352
72356      RS0217\  1352
72357      RS0217\  1352
72358      RS0217\  1352
72359      RS0217\  1352
72360      RS0217\  1352
72361      RS0217\  1352
72362      RS0217\  1352
72363      RS0217\  1352
72364      RS0217\  1352
72365      RS0217\  1352

[72366 rows x 2 columns]